<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link type="text/css" rel="stylesheet" href="../static/css/test.css" media="screen">
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<ul class="menu">
    <li><a href="">首页</a></li>
    <li><a href="">公司简介</a></li>
    <li><a href="">解决方案</a></li>
    <li><a href="">公司新闻</a></li>
    <li><a href="">行业动态</a></li>
    <li><a href="">招贤纳才</a></li>
    <li><a href="">联系我们</a></li>
</ul>

<a class="user_manager" href="">用户管理</a>

</body>
</html>