<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link type="text/css" rel="stylesheet" href="../static/css/homepage.css" media="screen">
    <link rel="shortcut icon" href="#"/>
</head>
<body>
    <div id="header">
        <img src="../static/images/8313654.png" alt="方寸图标">
    </div>

    <div id="award">
        <img src="../static/images/jiangbei.jpg" alt="奖杯" height="300px" width="300px">
    </div>
    <div id="p">
        <a href="/display/" style="margin-left:60px;" >用户管理</a>
<!--        <a href="/update/" style="margin-left:60px;">修改成员信息</a>-->
<!--        <a href="/delete/" style="margin-left:60px;">删除成员</a>-->
        <a href="/burnin_result/1" style="margin-left:60px;">BurnIn运行结果</a>
    </div>
    <footer>
      &copy; August 2020, Test of Tih Electronic
      <br>
      Automatic test, add, delete, modify, check.
    </footer>

</body>
</html>