body {
  font-family:         Verdana, Helvetica, Arial, sans-serif;
  line-height:         1.6em;
  font-size:           small;
  background:          #efe5d0 url("../images/background1.gif") top left;
  margin:             0px auto;
}

.box-head {
  height:             100px;
  background-color:   #99FFFF;
}

.box-left {
  width:              200px;
  height:             800px;
  background-color:   lightcyan;
  float:              left;
}

.box-left a {
  color:              black;
  font-size:          1.6em;
}

.box-div {
  border:             1px solid #000000;
  margin-top:         2px;   
  text-align:         center;
  padding:            10px 0px;
}

.box-left img {
  width:              25px;
  height:             25px;
}

.box-main {
  display:            absolute;
  height:             800px;
  background:         url("../images/main.jpg") top left;
  margin-left:        205px;
  margin-top:         5px;
  opacity:            0.9;
}

.box-main-form {
  position:           absolute;
  border:             1px thin #000000;
  margin-top:         60px;
}

.box-search {
  position:           absolute;
  border:             1px thin #33FFFF;
  background-color:   #3399FF;
  margin-left:        10px;
  margin-top:         10px;
  padding:            5px 5px;
  opacity:            0.8;
  border-radius:      20px;
}

.box-search-input {
  width:              150px;
  height:             25px;
  padding-left:       32px;
}

.div-bor {
  margin-bottom:       5px;
}

table {
  margin-left:         20px;
  margin-right:        20px;
  border:              thin solid #000000;
  caption-side:        bottom;
  border-collapse:     collapse;
}

td, th {
  border:             thin dotted gray;
  padding:            5px;
}

.input_css {
  width:                          150px;
  height:                         25px;
}

footer {
  background-color:      #675c47;
  color:                 #efe5d0;
  text-align:            center;
  padding:               15px;
  margin:                150px 10px 10px 10px;
  font-size:             90%;
}

a:link {
  color:                 #b76666;
  text-decoration:       none;
}
a:visited {
  color:                 #675c47;
  text-decoration:       none;
}

tr:nth-child(even) {
  background-color:      #F8F8F8;
}

.td_align {
  text-align:            center;
}

.table_title {
  background-color:      #66CCFF;
}

.icon-department {
    position:                       absolute;left: 0；z-index:5;
    background-image:               url("../images/department.png");
    background-repeat:              no-repeat;
    background-position:            1px 1px;
    width:                          30px;
    height:                         30px;
}

.icon-sex {
    position:                       absolute;left: 0；z-index:5;
    background-image:               url("../images/sex.png");
    background-repeat:              no-repeat;
    background-position:            1px 1px;
    width:                          30px;
    height:                         30px;
}
